.Herzog-image {
    width: 750px
  }
      p {
  font-size: 20px
  }
  img {
  max-width: 100%;
  display: block;
  height: auto;
  margin: 0 auto;
}
#tribute-info {
  max-width: 100%;
  display: block;
  height: 50px;
  margin: 0 auto;
}
#img-caption {
  max-width: 100%;
  display: block;
  height: 50px;
  margin: 0 auto;
}